.DayPicker-Day--eventDays {
  color: #7c86a2;
  background-color: #e8f4ff;
}

.DayPicker-Day--edgeDays {
  color: #ffffff;
  background-color: #2cbffc;
}

.DayPicker-Day--tipDays {
  color: #ffffff;
  background-color: #fd7171;
}
