.pointsHeader {
    margin-top: 10px;
    background-color: #fd7171;
    height: 53px;
    border-radius: 6px;
    text-align: left;
}

.pointsHeaderText {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    color: #ffffff;
}

.pointsHeaderTextDiv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pointsPill {
    background-color: #ffffff;
    color: #fd7171;
    float: right;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.9px;
    border-radius: 1rem;
    /* Vertically centre pill */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .pointsHeaderTextDiv {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 18px;
    }

    .pointsPill {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 9px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .pointsHeaderTextDiv {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 14px;
    }

    .pointsPill {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 9px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .pointsHeaderTextDiv {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 18px;
    }

    .pointsPill {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 9px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .pointsHeaderTextDiv {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 18px;
    }

    .pointsPill {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 9px;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .pointsHeaderTextDiv {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 18px;
    }

    .pointsPill {
        position: relative;
        top: 0;
        transform: none;
        margin-top: 9px;
    }
}

