.EMP-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  text-align: left;
  color: #4a4a4a;
}

.EMP-list {
  list-style: none;
  text-align: left;
  display: block;
}

.EMP-list-item {
  font-size: 16px;
  text-align: left;
  color: #fd7171;
  text-decoration: underline;
  line-height: 1.19;
  margin-top: -5px;
  margin-bottom: -5px;
}
