.points-overview {
  max-height: none;
  width: auto;
  border-radius: 10px 10px 0px 0px;
  margin-top: 10px;
}

.lines {
  width: 90%;
}

.points-overview-row {
  width: 100%;
  align-self: center;
}

.points-earned {
width: auto
}

.points-overview-total {
  color:#FD7171;
  font-size: 64px;
  text-align: center;
  margin-bottom: -5px;
}

.points-overview-header {
  text-align: center;
  color: #a2abbf;
  font-size: 15px;
  margin-top: 0px;
}

.points-overview-rank {
  padding-top: 10px;
  padding-bottom: 15px;
}

.points-overview-rank-img {
  text-align: left;
  height: 39px;
  width: 39px;
  margin-left: 0px;
  display: inline-block;
}

.points-overview-rank-title {
  text-align: center;
  margin-left: 10px;
  color: #6b7897;
  display: inline-block;
}


.points-stats-col {
  text-align: center;
  color: #6b7897;
  height: auto;
}

.points-saved {
  height: 50%;
}

.points-saved-header {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.points-saved-subheader {
  font-size: 28.5px;
  color: #3ede59;
}

.points-tilnext {
    height: 50%;
}


.points-tilnext-header {
  font-size: 15px;
  margin-bottom: 0px;
}

.points-tilnext-subheader {
  font-size: 28.5px;
}

.points-challenges {
  width: 100%;
  align-self: center;
  height: 46px;
  background-color: #fd7171;
  border-radius: 0 0 10px 10px;
}

.points-challenges-header {
  text-align: center;
  margin: auto;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
