.nav-bar{
  width: 110vw;
  height: 44px;
  background-color: #35a5b5;
  margin-left: -10vw;
  padding-left: 10vw;
  list-style: none;
  z-index: +1;
}

.nav-title {
  width: 89px;
  height: 29px;
  font-size: 24px;
  line-height: 0.79;
  text-align: left;
  color: #ffffff;
}

.nav-icons {
  color: #ffffff;
  list-style: none;
  margin-right: -5px;
  margin-top: 3px;
}

.nav-icon {
  width: 40px;
  font-size: 22px;
}

.hamburger-icon {
  color: #ffffff;
  font-size: 25px;
  margin-top: 3px;
}

img.nav-name {
  margin-left: -15vw;
  width: 89px;
  padding-left: 5px;
}

.nav-link-to {
  text-decoration: none;
  color: #ffffff;
}

img.nav-img {
  height: auto;
  width: 25px;
}

.menu-item {
  width: 134px;
  height: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  text-align: center;
  color: #35a5b5;
  margin-left: 15vw;
}

p {
  margin: 0;
}
