.partnerText {
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-size: 14px;
  text-align: center;
  color: #666666;
}

.partnerLogo {
  height: 10vw;
  width: auto;
  margin-bottom: 2vh;
}

.partner-row{
  margin-left: 0px;
  margin-right: 0px;
}
