.register {
  height: 100vh;
  background-color: #f9f8f8;
}

.app-bar {
  width: 100vw;
  height: 44px;
  background-color: #35a5b5;
  list-style: none;
  margin-left: -5vw;
  margin-right: -10vw;
}

img.app-name {
  margin-left: 31vw;
  width: 100px;
}

.question-card {
  margin-top: 6vh;
  margin-left: -4vw;
  width: 90vw;
  border-width: 0;
}

#pregnancy-questions-card {
  margin-left: 0vw;
}

.question-phrase {
  height: 24px;
  font-size: 20px;
  color: #35a5b5;
  margin-top: 3.5vh;
  margin-bottom: 0;
  margin-left: 4vw;
  margin-right: 4vw;
}

#dob-question {
  margin-top: 0.5vh;
}

#gender-select {
  font-size: 16px;
  line-height: 1.31;
  color: #999999;
}

#lmp-question-phrase {
  margin-left: -1vw;
  margin-right: -1vw;
}

.continue-button {
  border: solid 1.8px;
  border-color: #ef005c;
  color: #ef005c;
  width: 78vw;
  background-color: #ffffff;
  margin-top: -6vh;
}

#pregnancy-continue {
  margin-top: 3vh;
}

#add-child-continue {
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.question-yes-no {
  margin-top: 9vh;
  margin-bottom: 4vh;
}

#question-midwife {
  margin-top: 4.5vh;
}

.button-yes-no {
  border: solid 1.8px;
  border-color: #ef005c;
  color: #ef005c;
  width: 22vw;
  height: 8vh;
  background-color: #ffffff;
  margin-top: -6vh;
  font-size: 12px;
  margin-left: 2vw;
  margin-right: 2vw;
}

#plus-button {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 44px;
  width: 71px;
  padding-left: 12px;
  background-color: #ffffff;
  border: solid 1px;
  border-color: #ef005c;
  color: #ef005c;
  margin-right: 4vw;
}

.add-child-section {
  display: flex;
}

.add-child-description {
  margin-top: 2.5vh;
  font-size: 16px;
  line-height: 1.31;
  color: #999999;
}

.skip-question-button {
  border: solid 1.8px;
  border-color: #fd7171;
  color: #fd7171;
  width: 78vw;
  background-color: #ffffff;
  margin-top: 4vh;
}

.skip-question-description {
  margin-top: 1vh;
  height: 14px;
  font-size: 12px;
  text-align: center;
  color: #999999;
}

#button-selected {
  background-color: #ef005c;
  color: #ffffff;
  margin-top: -12vh;
}

#button-unselected {
  margin-top: -12vh;
}

#question-pregnancy {
  margin-bottom: -7vh;
}

.date-picker {
  margin-top: 2.5vh;
  width: 79vw;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  color: #999999;
  padding-left: 3vw;
}

.child-details {
  height: 72px;
  padding-left: 3.5vw;
  padding-top: 6.5px;
  margin-bottom: 3vh;
}

.child-details-pair {
  text-align: left;
  font-size: 16px;
  line-height: 1.31;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.child-details-key {
  width: 65px;
  display: inline-block;
  color: #35a5b5;
}

.child-details-value {
  width: auto;
  color: #656565;
}

.child-details-delete {
  margin-top: -65px;
  padding-bottom: 4vh;
}

#nth-child-details {
  margin-bottom: 3vh;
}
