.link {
    font-size: 10px;
    text-align: center;
    color: #fd7171;
    text-decoration: underline #fd7171;
    margin-top: 1vh;
}

/* Have to overwrite styles from RewardPreview class */
.rewardUnclaimedLogo {
    font-size: 13px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    color: #35a5b5;
    margin-top: -8px;
    margin-left: 7px;
    margin-right: -7px;
    padding-top: 10px;
    background-color: #ffffff;
}

/* Contains the description and claim button */
.rewardUnclaimedDesc {
    background-color: #ffffff;
    color: #373a3c;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin-top: 1px;
    margin-left: 7px;
    margin-right: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rewardClaimButton {
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #ef005c;
    border: solid 1px #ef005c;
    margin-top: 2vh;
}

.angleLeft {
    opacity: 0.8;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.backHeader {
    font-size: 14px;
    text-align: left;
    color: #4a4a4a;
    margin-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vw;
    border-bottom: solid 1px #cccccc;
}

.backHeaderCol {
    padding: 0;
    margin: 0;
}